
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://i.ibb.co/LQQXCGW/386089362-122102724944066842-1052884823029585538-n.jpg">
    <title>@ViewData["Title"] Relaxify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RelaxifyEventRentWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>
<body>
    <header class="pb-2">
        @await Component.InvokeAsync("MenuCategoryList");
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5 pt-5">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start shadow rounded mt-5" style="background-color: white;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">O nas</h5>

                    <p>
                        Nasza pasja do projektowania przestrzeni relaksu jest nieograniczona. Tworzymy unikalne miejsca, gdzie każdy szczegół jest dopracowany, aby zapewnić nie tylko komfort, ale także niepowtarzalny klimat.
                    </p>

                    <p>
                        Bez względu na to, czy planujesz kameralne spotkanie, wielką uroczystość czy firmowy event, jesteśmy gotowi uczynić każdą chwilę wyjątkową.
                    </p>

                    <div class="mt-4">                        
                        <a type="button" href="" class="btn btn-floating btn-light btn-lg"><i class="bi bi-instagram"></i></a>                        
                        <a type="button" href="https://www.facebook.com/relaxifypolska" class="btn btn-floating btn-light btn-lg"><i class="bi bi-facebook"></i></a>

                    </div>
                </div>                
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1">Zamówienia i wyceny</h5>                   

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">biuro@relaxifypolska.pl</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 503 465 302</span>
                        </li>
                    </ul>

                    <h5 class="text-uppercase mb-4 pb-1 pt-4">Zapraszamy do biura!</h5>
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">ul.Dworcowa 7,</span>
                            <span class="pt-3"><br />Świdnik 20-040</span>
                        </li>                        
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 503 465 302</span>
                        </li>
                    </ul>
                </div>             
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Zapisz się na nasz newsletter</h5>

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example2" class="form-control" />
                        <label class="form-label" for="form5Example2">Twój adres Email</label>
                    </div>

                    <button type="submit" class="btn btn-outline-dark btn-block">Zapisuję się!</button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/avszy4xmc4exwdiuqvq64pt9tu9nvmvul4ls7ld2imh920ma/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
