@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Lista produktów</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="container">
            <div class="row pb-3 mb-3">                
                <div class="col-12 text-end">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Utwórz nowy produkt</a>
                </div>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Cena
                    </th>                    
                    <th>
                        Kategoria
                    </th>
                    <th></th>
                </tr>
            </thead>            
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}

