@model Product

<div class="card shadow border-0 mt-4">
    <div class="ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">@TempData["UpsertTitle"] produkt</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="mb-3 row p-1">
                            <label asp-for=ProductName class="ms-2"></label>
                            <input asp-for=ProductName class="form-control border-0" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for=Price class="ms-2"></label>
                            <input asp-for=Price class="form-control border-0" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for=Description class="ms-2"></label>
                            <textarea asp-for=Description class="form-control border-0"></textarea>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for=CategoryId class="ms-2"></label>
                            <select asp-for=CategoryId asp-items="ViewBag.CategoryList" class="form-select border-0">
                                <option disabled selected>--Wybierz Kategorię--</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for=ImageUrl class="ms-2"></label>
                            <input type="file" name="file" form-select border-0" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">@TempData["UpsertConfirmButton"]</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">Powrót do listy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@TempData["ImageUrl"]" width="100%"
                    style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
            
        </form>

    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons   lists   table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}